@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	}
a{
	text-decoration:none;
	blr:expression(this.onFocus=this.blur());
	outline:none;
	}
a:focus{
	outline:none;
	}
img{
	border:none;
	}
li{
	list-style:none;
	}

	
.header{
	width:1200px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	}
.header .logo{
	width:200px;
	margin:14px 0 10px 6px;
	float:left;
	}
.header .logo a{
	outline:none;
	}
.header .link{
	float:right;
	margin:8px 0 0 0;
	}
.header .link a{
	font-family:"宋体";
	color:#848282;
	font-size:12px;
	border-left:1px solid #848282;
	padding:0px 8px;
	cursor:pointer;
	outline:none;
	}
.header .link a:hover{
	color:#75c03c;
	}
.header .link a:first-child{
	border:none;
	}
.header .link form{
	padding:30px 0 0 0;
	}
.header .link form input{
	width:168px;
	height:24px;
	line-height:24px;
	border-top:3px solid #8f8f8f;
	border-right:3px solid #e3e3e3;
	border-bottom:3px solid #e3e3e3;
	border-left:3px solid #8f8f8f;
	border-radius:12px;
	behavior:url(PIE.htc);
	font-family:"宋体";
	color:#848282;
	font-size:12px;
	padding:0px 8px;
	outline:none;
	}
.header .link form button{
	vertical-align:middle;
	border:none;
	outline:none;
	background:none;
	cursor:pointer;
	}


.nav{
	width:100%;
	background:#75c03c;
	}
.nav ul{
	width:846px;
	margin:0px auto;
	clear:both;
	overflow:hidden;
	}
.nav ul li{
	width:158px;
	line-height:44px;
	float:left;
	text-align:center;
	}
.nav ul li:hover{
	background:#080808;
	}
.nav ul li a{
	font-family: "微软雅黑";
	color:#fff;
	font-size:16px;
	display:block;
	}
.nav ul li.on a{
	background:#080808;
	}


.banner img{
	width:100%;
	}


.footer{
	width:100%;
	background:#588139;
	}
.footer ul{
	text-align:center;
	padding-top:14px;
	}
.footer ul li{
	display:inline-block;
	}
.footer ul li a{
	font-family:"微软雅黑";
	color:#ffffff;
	font-size:14px;
	border-left:1px solid #fff;
	padding:0px 24px;
	}
.footer ul li:first-child a{
	border-left:none;
	}
.footer ol{
	text-align:center;
	margin-top:42px;
	}
.footer ol li{
	display:inline-block;
	}
.footer ol li a{
	font-family:"微软雅黑";
	color:#ffffff;
	font-size:12px;
	border-left:1px solid #fff;
	padding:0px 4px;
	}
.footer ol li:first-child a{
	border-left:none;
	}
.footer p{
	font-family:"微软雅黑";
	color:#ffffff;
	font-size:12px;
	text-align:center;
	padding:10px 0;
	}

